<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit" />
<!-- 让360浏览器默认选择webkit内核 -->

<link rel='stylesheet' href='/power/css/nprogress.css'/>
<link href="/power/css/insdep.easyui.min.css" rel="stylesheet" type="text/css">
<link href="/power/css/master.css" rel="stylesheet" type="text/css">
<link href="/power/css/master_1.css" rel="stylesheet" type="text/css">
<link href="/power/css/iconfont/iconfont.css" rel="stylesheet" type="text/css">

</head>

<body>
	${layoutContent}
	
<script type="text/javascript" src="/power/js/jquery.min.js"></script>
<script type="text/javascript" src="/power/layui/layui.js"></script>
<script type="text/javascript" src="/power/layui/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/power/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/power/js/insdep.easyui.min.js"></script>
<script type="text/javascript" src="/power/js/insdep.config.min.js"></script>
<script type="text/javascript" src="/power/js/master.js"></script>
<script type="text/javascript" src='/power/js/nprogress.js'></script>
<script type="text/javascript" src='/power/js/jquery.blockUI.js'></script>
<script type="text/javascript" src='/power/js/dialog.js'></script>
<script type="text/javascript" src="/power/js/common.js"></script>
</body>
</html>
