<div class="theme-header-navigate">
                <!--顶部导航左侧布局-->
                <div class="left">
                    <a class="easyui-linkbutton theme-left-menu-switch"><span class="iconfont">&#xe715;</span></a>
                    <!--导航-->
                </div>
                <!--顶部导航左侧布局 end-->

                <!--顶部导航右侧布局-->
                <div class="right">
                    <!--用户信息-->
                    <a href="#" class="easyui-menubutton theme-header-navigate-user-button" data-options="menu:'.theme-header-navigate-user-panel'"><img src="picture/portrait_250x250.png" width="32" height="32">arain</a>
                    <div class="theme-header-navigate-user-panel">
                       <dl>
                            <dd>
                                <img src="picture/portrait_250x250.png" width="86" height="86">
                                <b>arain</b>
                                <span class="font-grayish">未设置</span>
                                <p>安全等级：<i class="font-green">高</i></p>
                            </dd>
                            <dt>
                                <a class="theme-navigate-user-modify">修改资料</a>
                                <a class="theme-navigate-user-logout" href="https://w3.insdep.com/member/application/index/index/exits">注销</a>
                            </dt>
                       </dl>
                    </div>

                    <div class="theme-header-navigate-sep"></div>

                    <a href="#" class="easyui-linkbutton"><span class="iconfont">&#xe690;</span></a>

                    <a href="#" class="easyui-menubutton" data-options="menu:'#navigate_more',hasDownArrow:false"><span class="iconfont">&#xe7f2;</span></a>
                    <div id="navigate_more" class="theme-header-navigate-menu-panel" data-options="noline:true">
                        <div>联系我们</div>
                        <div>参与改进计划</div>
                        <div>关于</div>
                    </div>
                    
                </div>
                <!--顶部导航右侧布局 end-->
        </div>