<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.arain.power.common.mapper.system.SysSystemMapper" >
  <resultMap id="BaseResultMap" type="org.arain.power.common.pojo.system.SysSystem" >
    <id column="ID_" property="id" jdbcType="BIGINT" />
    <result column="NAME_" property="name" jdbcType="VARCHAR" />
    <result column="PREFIX_" property="prefix" jdbcType="VARCHAR" />
    <result column="ICON_" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_, NAME_, PREFIX_, ICON_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.arain.power.common.pojo.system.SysSystemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_system
    where ID_ = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_system
    where ID_ = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.arain.power.common.pojo.system.SysSystemExample" >
    delete from sys_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.arain.power.common.pojo.system.SysSystem" >
    insert into sys_system (ID_, NAME_, PREFIX_, 
      ICON_)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{prefix,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.arain.power.common.pojo.system.SysSystem" >
    insert into sys_system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID_,
      </if>
      <if test="name != null" >
        NAME_,
      </if>
      <if test="prefix != null" >
        PREFIX_,
      </if>
      <if test="icon != null" >
        ICON_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.arain.power.common.pojo.system.SysSystemExample" resultType="java.lang.Integer" >
    select count(*) from sys_system
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_system
    <set >
      <if test="record.id != null" >
        ID_ = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.prefix != null" >
        PREFIX_ = #{record.prefix,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        ICON_ = #{record.icon,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_system
    set ID_ = #{record.id,jdbcType=BIGINT},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      PREFIX_ = #{record.prefix,jdbcType=VARCHAR},
      ICON_ = #{record.icon,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.arain.power.common.pojo.system.SysSystem" >
    update sys_system
    <set >
      <if test="name != null" >
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="prefix != null" >
        PREFIX_ = #{prefix,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON_ = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.arain.power.common.pojo.system.SysSystem" >
    update sys_system
    set NAME_ = #{name,jdbcType=VARCHAR},
      PREFIX_ = #{prefix,jdbcType=VARCHAR},
      ICON_ = #{icon,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=BIGINT}
  </update>
</mapper>